@charset "utf-8";

a {
    color: #FE8F28;
}

/* 産学協力会について  トップ*/
.about-top {
    padding-top: 60px;
    background-color: #FFAF8E;
}

.about {
    background-color: #FFAF8E;
    border-radius: 20px;
}
.about-img {
    float: right;
    padding:5% 0 5% 15%;
    width: 50%;
}
.about-img img {
    padding: auto;
    width: 100%;
    height: auto;
}
.about-text {
    float: left;
    padding:10% 0;
    width: 50%;
}
.about-text h3 {
    padding: 1% 0;
}
.about-text p {
    padding: 1% 0;
}


/* 主な事業 */
.business {
    padding-top: 5%;
}
.business img {
    width: 100%;
}
.business-project-text {
    margin: auto 0;
}
.business-events-text {
    margin: auto 0;
}
.business-meet-text {
    margin: auto 0;
}


/* 会員企業のメリット */
.merit {
    padding-top: 5%;
}
.merit-box {
    text-align: center;
}
.merit-box img {
    width: auto;
    height: 250px;
}


/* 活動計画 */
.plan {
    padding-top: 5%;
}
.plan-img img {
    width: 100%;
}
.plan-text {
    margin: auto 0;
}

/* 活動報告 */
.report {
    padding-top: 5%;
}
.report p{
    margin: 10px;
    text-align: right;
}
.report-text {
    display:inline;
    padding: 2%;
}

/* 講演・協賛等 */
.lecture {
    padding-top: 5%;
}
.lecture-bold {
    color: #FE8F28;
}

/* 会長挨拶 */
.greeting {
    padding: 5% 0;
}