@charset "utf-8";

a {
    color: #FE8F28;
}


/* 会則　トップ */
.constitution-top {
    padding-top: 60px;
    background-image: url("../img/building_5.jpg");
    background-position: center;
    background-size: 100%;
}
.constitution-top-text {
    padding:10% 7% 10% 0;
    width: 50%;
}
.constitution-top-text h3 {
    padding: 1% 0;
}
.constitution-top-text p {
    padding: 1% 0;
}
/* 会則トップ　スマホ */
@media screen and (max-width:769px) {

    .constitution-top {
        background-position: top;
    }
    .constitution-top-text {
        width: 100%;
    }

}



/* 会則 */
.constitution-main {
    padding: 5% 0; 
}