@charset "utf-8";

a {
    color: #FE8F28;
}

/*トップ */
.etc-top {
    padding-top: 60px;
    background-image: url("../img/building_5.jpg");
    background-position: center;
    background-size: 100%;
}
.etc-top-text {
    padding:10% 7% 10% 0;
    width: 50%;
}
.etc-top-text h3 {
    padding: 1% 0;
}
.etc-top-text p {
    padding: 1% 0;
}

.etc-main {
    padding: 5% 0;
}



.list ul{
    margin:10%;
    padding:0;
    line-height:1.8;
    width:80%;
    list-style:none;
}
.list ul li{
    position:relative;
    margin:0 0 10px;
    padding:0 5px 10px 8em;
    border-bottom:1px solid #ccc;
}
ul li span.date{
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:6em;
    margin:0;
    padding:0 0 0 5px;
}