@charset "utf-8";


a {
    color: #FE8F28;
}



/* トップ */
.top-visual {
    padding: 10% 0;
}

.top-visual p {
    color: #FE8F28;
}


/* 産学協力会の取り組み */
.initiatives {
    background-image: url("/img/building_5.jpg");
    background-position: center;
    background-size: 100%;
    border-radius: 20px;
}
.initiatives-text {
    padding:10% 7%;
    width: 50%;
}
.initiatives-text h3 {
    padding: 1% 0;
}
.initiatives-text p {
    padding: 1% 0;
}


/* 産学協力会について */
.about {
    margin-top: 2%;
    background-color: #FFAF8E;
    border-radius: 20px;
}
.about-img {
    float: right;
    padding:5% 7%;
    width: 50%;
}
.about-img img {
    padding: auto;
    width: 100%;
    height: auto;
}
.about-text {
    float: left;
    padding:10% 7%;
    width: 50%;
}
.about-text h3 {
    padding: 1% 0;
}
.about-text p {
    padding: 1% 0;
}

/* 活動報告 */
.activity_report {
    margin-top: 5%;
}

/* 活動報告の写真 */
.list-img1 {
    margin: 3% 0;
    height: 300px;
    background-image: url("/img/undraw/undraw_Calendar_re_ki49.png");
    background-position: center;
    background-size: 100%;
    border-radius: 10px;
}
.list-img2 {
    margin: 3% 0;
    height: 300px;
    background-image: url("/img/undraw/undraw_Report_re_kp7y.png");
    background-position: center;
    background-size: 100%;
    border-radius: 10px;
}
.list-img3 {
    margin: 3% 0;
    height: 300px;
    background-image: url("/img/undraw/undraw_community_8nwl.png");
    background-position: center;
    background-size: 100%;
    border-radius: 10px;
}


/* イベント名簿 */
.events {
    margin-top: 5%;
}

/* 更新名簿 */
.update {
    margin-top: 5%;
}

/* イベント・更新のリスト */
/* リストを追加 */
.etc {
    margin-top: 5%;
    margin-bottom: 5%;
}

.etc ul{
    margin:10%;
    padding:0;
    line-height:1.8;
    width:80%;
    list-style:none;
}
.etc ul li{
    position:relative;
    margin:0 0 10px;
    padding:0 5px 10px 8em;
    border-bottom:1px solid #ccc;
}
ul li span.date{
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:6em;
    margin:0;
    padding:0 0 0 5px;
}
