@charset "utf-8";


a {
    color: #FE8F28;
}

/* 会員名簿　トップ */
.member-top {
    padding-top: 60px;
    background-image: url("../img/building_5.jpg");
    background-position: center;
    background-size: 100%;
}
.member-top-text {
    padding:10% 7% 10% 0;
    width: 50%;
}
.member-top-text h3 {
    padding: 1% 0;
}
.member-top-text p {
    padding: 1% 0;
}
/* 会員名簿トップ　スマホ */
@media screen and (max-width:769px) {

    .member-top {
        background-position: top;
    }
    .member-top-text {
        width: 100%;
    }

}


/* 理事・役員・事務局 */
.member-officer {
    padding-top: 5%;
}
.member-list {
    margin: 1rem;
}
.member-list p {
    margin: 0;
}
.orange {
    color: #FE8F28;
    font-weight: 500;
}


/* 法人会員 */
.member-corp {
    padding-top: 5%;
}
.corp-member-list {
    margin: 1rem;
}
.corp-member-list p {
    margin: 0;
}
.corp-member-list a {
    margin: 0;
}

/* 個人会員 */
.member-indi {
    padding: 5% 0;
}
.indi-member-list p {
    margin: 1rem;
}