@charset "utf-8";

a { color: #FE8F28; }

/* トップ・産学協力会について　以外のページトップ */
.page-top {
    padding-top: 60px;
    background-image: url("../img/building_5.jpg");
    background-position: center;
    background-size: 100%;
}
.page-top-text { padding:10% 7% 10% 0; width: 50%; }
.page-top-text h3 { padding: 1% 0; }
.page-top-text p { padding: 1% 0; }

/* ページトップ　スマホ */
@media screen and (max-width:769px) {
    .page-top { background-position: top; }
    .page-top-text { width: 100%; }
}

/* 更新情報・イベント情報・活動報告ページ */
.etc-main { padding: 5% 0; }

.list ul{
    margin:10%;
    padding:0;
    line-height:1.8;
    width:80%;
    list-style:none;
}
.list ul li{
    position:relative;
    margin:0 0 10px;
    padding:0 5px 10px 8em;
    border-bottom:1px solid #ccc;
}
ul li span.date{
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:6em;
    margin:0;
    padding:0 0 0 5px;
}